@charset "UTF-8";
.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

.myboxtoto {
    widt240h: 0px;
    width: 250px;
    height: 240px;
    background-color: #F47C7E;
    margin-top: 32px;
    padding-top: 24px;
    margin-left: 17px;
    padding-left: 25px;
    border-left: 3px solid #7D0D0F;
    border-right: 3px solid #7D0D0F;
    border-bottom: 7px solid #7D0D0F;
    border-top: 3px solid #7D0D0F;
}



.navbar-brand {
	font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}
.container-fluid {
    background-color: #4168DD;	
	
	
}

.yasa {
    background-color: #FDC7E8;
    height: 100px;	
}

.yasb {
    background-color: #C7CDFD;	
	  height: 100px;		
	
	
}

.yasc {
    background-color: #48FFAE;	
	 height: 100px;	
	
	
}

.yasd {
    background-color: #1E56BB;	
     height: 100px;			
	
	
}
